* {
    box-sizing: border-box;
}

body {
    font-family: "inter_regular";
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    background-color: #7a7a7a;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #f7f7f7;
    padding: 10px 25px;
    font-size: 14px;

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3aeae;
    padding: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: opacity 0.3s ease;
    /* opacity: 0; */
    /* pointer-events: none; */
}


/* detta kommer inte funkar
.popup.open {
    pointer-events: auto;
    opacity: 1;
} 

 .popup {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
} */



.popup-content {
    background-color: #f3aeae;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}