.filterElement {
  padding: 2px 5px;
  font-size: 16px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.filterElement:hover {
  cursor: pointer;
}

.checkContainer {
  height: 100%;
  flex-basis: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  display: hidden;
  color: black;
}

.checkmarkBox {
  border-radius: 5px;
  border: 1px solid black;
  height: 20px;
  width: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filterElement.checked .checkmarkBox {
  position: relative;
}

.filterElement.checked .checkmark {
  display: block;
  position: absolute;
}

.filterElement.checked .text {
  font-family: "inter_regular";

}