/* Styles - render - structure - Bojana */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ec2525;
    color: #ffffff;
    text-align: center;
    padding: 3rem;
}

.middle {
    height: 200px;
    /* anpassa höjden */
    background-color: #dadada;
}

.container {
    display: flex;
}

.leftColumn {
    flex: 1;
    background-color: #f0f0f0;
    padding: 3rem;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
    padding: 6rem;
    border: 1px solid #ea1010;
}

.mainContent {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 3rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e0e0e0;
    padding: 2rem;
    text-align: center;
    border: 1px solid #ea1010;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e0e0e0;
    padding: 2rem;
    color: #ec2525;
    text-align: center;
}