#country_filter {
    background-color: #9A0A1B;
    border: black 1px solid;
    border-radius: 5px;
    padding-bottom: 20px;
}

.country_container h3 {
  font-size: 20px;
  font-family: "Inter";
}

.country_checkmarks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.checkmark_box {
  background-color: white;
}



