#country_filter {
  background-color: #9A0A1B;
  border: black 1px solid;
  border-radius: 5px;
  padding-bottom: 20px;
  font-family: "inter_regular";
}

#contry_filter>h3 {
  font-family: "Inter_bold";
}

.country_container>h3 {
  font-size: 20px;
  color: white;
}

.country_checkmarks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.checkmark_box {
  background-color: white;
}