
.slideshow {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.holder {
    position: relative;
    top: 0;
    left: 0;
    width: 10000vw;
    height: 100vh;
    transition: left 1s;
}

.holder div {
    float: left;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 30px;
}

#buttonCarousel {
    position: absolute;
    left: 50%;
}

#circle {
    position: absolute;
    bottom: 70px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    right: auto;

    border-radius: 50%;
    height: 62px;
    width: 62px;
    background-color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#circle>a {
    font-size: 50px;
    font-family: sans-serif;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#circle a>img {
    height: 30px;
}

.buttons>a {
    padding: 20px 70px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    font-size: 100px;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.slide1 {
    background-image: url(../../images/carousel/slide_1.avif);
    background-position: center;
}

.slide2 {
    background-image: url(../../images/carousel/slide_2.avif);
    background-position: center;
}

.slide3 {
    background-image: url(../../images/carousel/slide_3.jpg);
    background-position-y: -1200px;
}

.slide4 {
    background-image: url(../../images/carousel/slide_4.avif);
    background-position: center;
}
