/* Skapade bara tom början sålänge */



@font-face {
    font-family: cavas_nera;
    src: url("./fonts/CavasNera/CavasNeraFree.ttf");
}

@font-face {
    font-family: inter_regular;
    src: url("./fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: inter_bold;
    src: url("./fonts/Inter/Inter-Bold.ttf");
}


@font-face {
    font-family: jaldi_regular;
    src: url("./fonts/Jaldi/Jaldi-Regular.ttf");
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


body {
    font-size: 30px;
    line-height: 1.6;
    color: #ffffff;
    overflow-x: hidden;
}
