/* Skapade bara tom början sålänge */



@font-face {
    font-family: ;
    src: url();
}

@font-face {
    font-family: ;
    src: url();
}

@font-face {
    font-family: ;
    src: url();
}


@font-face {
    font-family: ;
    src: url();
}


@font-face {
    font-family: ;
    src: url();
}



root {}

* {}

body {}