*{
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

#left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}