/*Structure*/

footer {
    height: 100px;
}

nav {
    display: flex;
}

main {
    display: flex;
}

#left {
    width: 35%;
    margin: 15px;
}

#right {
    width: 65%;

    display: flex;
    flex-direction: column;
}

#rightBottom>#catalogue_list>ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw 2vw;

}

#rightBottom>#catalogue_list>ol>div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;

    width: 250px;
}

#shoeBoxText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}