/*Structure*/

footer {
    height: 100px;
}

nav {
    display: flex;
}

main {
    display: flex;
}

#left {
    width: 35%;
    margin: 15px;
}

#right {
    width: 65%;

    display: flex;
    flex-direction: column;
}

#rightBottom {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 200px);
    gap: 5vw 2vw;
}